<div class="card">
  <div class="card-header">
    Products List
  </div>
  <div class="card-body">
    <table class="table table-bordered">
        <thead>
          <tr>
            <td>Name</td>
            <td>Price</td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price|currency:'INR'}}</td>
          <td><a [routerLink]="['/products/edit',product.id]"><i class="fa fa-edit"></i></a></td>
          <td><a (click)="delete(product.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>